h1 {
  font-family: brandon-grotesque, sans-serif;
  font-weight: inherit;
  font-style: inherit;
}

h2 {
  font-family: brandon-grotesque, sans-serif;
  font-weight: inherit;
  font-style: inherit;
}

h3 {
  font-family: brandon-grotesque, sans-serif;
  font-weight: inherit;
  font-style: inherit;
}

h4 {
  font-family: brandon-grotesque, sans-serif;
  font-weight: inherit;
  font-style: inherit;
}

h5 {
  font-family: brandon-grotesque, sans-serif;
  font-weight: in;
  font-style: inherit;
}

p {
  font-family: brandon-grotesque, sans-serif;
  font-weight: inherit;
  font-style: inherit;
}

a {
  text-decoration: inherit;
  color: black;
}

.center {
  display: center;
  margin-left: auto;
  margin-right: center;
  box-align: center;
}

text {
  font-family: brandon-grotesque, sans-serif;
}

body {
  font: 15px sans-serif;
  font-weight: inherit;
}

.axis path, .axis line {
  fill: none;
  stroke: black;
}

.x.axis path {
  display: ruby-base-container;
}

.y.axis path {
  stroke: black;
}

.line {
  fill: none;
  stroke-width: 3px;
  stroke-linecap: round;
}

.rect {
  fill: inherit;
  stroke-width: 1;
}

.header {
  margin-top: 60px;
  text-align: inherit;
  font-family: brandon-grotesque, sans-serif;
  font-weight: inherit;
}

.dotButtons {
  font-family: brandon-grotesque, sans-serif;
  font-weight: 500;
}

.selectbox {
  font-family: brandon-grotesque, sans-serif;
  font-weight: 700;
  font-size: 2vw;
  text-align: center;
  padding: 10%;
}

input {
  margin-right: 10px;
  font-family: brandon-grotesque, sans-serif;
  font-weight: 500;
  font-size: 10;
}

.form-check-label {
  font-size: 0.8em;
  margin-right: 20px;
}

.radio-toolbar {
  margin: 10px;
}

.radio-toolbar input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.radio-toolbar label {
  border: none;
  color: black;
  padding: 10px 10px;
  font-size: 16px;
  font-family: brandon-grotesque;
  border-radius: 10px;
  cursor: pointer;
  ;
}

.radio-toolbar label:hover {
  background-color: #ddd;
}

.radio-toolbar input[type="radio"]:checked+label {
  background-color: #e7e7e7;
  stroke: rgb(0, 0, 0);
  stroke-width: 1px;
}

.d3-tip {
  line-height: 1;
  font-family: brandon-grotesque, sans-serif;
  padding: 0px;
  background: none;
  border-radius: 8px;
  border-color: black;
  border-width: 1px;
  border: black;
  font-size: 12px;
  stroke-width: 2px;
}

@media only screen and (max-width:600px) {
  #tipDiv {
    display: none;
  }
  #bigmenu {
    display: none;
  }
  #smallmenu {
    display: inline;
  }
  #bigprojected {
    display: none;
  }
  #smallprojected {
    display: inline;
  }
  #bubblemap {
    display: none;
  }
  #bubblemap2 {
    display: inline;
  }
  #projected {
    display: none;
  }
  #phoneprojectedvote {
    display: inline;
  }
  .computer {
    display: none;
  }
  .phone {
    display: inline;
  }
}

@media only screen and (min-width:601px) {
  #tipDiv {
    display: inline;
  }
  #bigmenu {
    display: inline;
  }
  #smallmenu {
    display: none;
  }
  #bigprojected {
    display: inline;
  }
  #smallprojected {
    display: none;
  }
  #bubblemap {
    display: inline;
  }
  #bubblemap2 {
    display: none;
  }
  #projected {
    display: inline;
  }
  #phoneprojectedvote {
    display: none;
  }
  #usmap {
    width: 80%;
    margin-left: 10%;
  }
  .computer {
    display: inline;
  }
  .phone {
    display: none;
  }
}
.hoverstate{
  fill:none;
  pointer-events: all;
}